<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1> Welcome to 99 Cats! </h1> <br>

    <h3> Home to the cutest and cuddliest cats for rent! </h3> <br>

    <p> We are a web application acting as a virtual cat shelter that allows trading of cats between users. <br/></p>

    <p> You have successfully signed up to 99Cats.com your username is: <%= @user.username %>. <br/></p>

    <p> To login to the site, just follow this link: <%= @url %>. </p>

    <p>Thanks for joining and have a great day!</p>

  </body>
</html>
